alembic==1.5.8
certifi==2020.12.5
click==8.0.0a1
coverage==5.5
greenlet==1.0.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
packaging==20.9
psycopg2-binary==2.8.6
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
PyYAML==5.4.1
SQLAlchemy==1.4.4
sqlalchemy-redshift==0.8.2