alembic==1.5.8
asn1crypto==1.4.0
azure-common==1.1.27
azure-core==1.13.0
azure-storage-blob==12.8.0
boto3==1.17.48
botocore==1.20.48
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==8.0.0a1
coverage==5.5
cryptography==3.4.7
greenlet==1.0.0
idna==2.10
inflect
isodate==0.6.0
Jinja2==2.11.3
jmespath==0.10.0
Mako==1.1.4
MarkupSafe==1.1.1
msrest==0.6.21
mysql-connector-python==8.0.23
oauthlib==3.1.0
oscrypto==1.2.1
packaging==20.9
protobuf==3.15.7
psycopg2-binary==2.8.6
pycparser==2.20
pycryptodomex==3.10.1
PyJWT==2.0.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-snappy==0.6.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.3.6
six==1.15.0
snowflake-connector-python==2.4.2
snowflake-sqlalchemy==1.2.4
spark-parser==1.8.9
SQLAlchemy==1.4.4
sqlalchemy-redshift==0.8.2
unpyclib==0.8.1
urllib3==1.26.4
xdis==5.0.8
